* {;
    /*margin:0px;
    padding:0px*/

}

li {
    list-style:none;
}

body {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 4194px;
    background-color: #FCFCFC  ;/*0% 0% no-repeat padding-box;*/
    opacity: 1;
    margin:0;
    }


.header-logo {
    width: 62px;
    height: 35px;
    margin:15px 705px 10px 88px;
    text-align: center;
    font: 
    letter-spacing: 0;
    color: #918F89;
    opacity: 1;
    /*float:left;*/
    display: flex;
    font-family:'NotoSans'  
    }

.page-header {

    height: 60px;
    display: flex;
    align-items: center;

}



/*
.header-right {
    width: 335px;
    height: 35px;
    float: left:
}*/


.header-nav ul {
    /*display:inline;*/
    
}　


.header-nav ul li {
    /*display:inline;*/
    
    
}

.header-nav {
    width: 336px;
    height: 35px;
    /*margin-left: auto;*/
    margin: 25px 0 0 0 ;
    
    

}
.nav-about {
    display: inline-block;
    width: 45px;
    height: 22px;
    text-align: left;
    letter-spacing: 0;
    color: #272727;
    opacity: 1;
    float: left;
    margin: 3px 105px 10px 0;

    
}
.a-about {
    width: 45px;
    height: 22px;
    font-size: 16px;
    
}


/*
.nav-about {
    display: inline-block;
    width: 43px;
    height:23px;
    margin: 3px 292px 10px 0;
    text-align: left;
    font: ExtraLight 16px/22px Noto Sans;
    letter-spacing: 0;
    float: left;
    opacity: 1;
    }*/


.nav-news {
    width:38px;
    height: 22px;
    display: inline-block;
    float:left;

    /*margin: 0 111px 13px 0 */
    
    
    }

.nav-qa {
    display: inline-block;
    float:left;
    margin: 0 0 13px 111px;
}
    

.main-visual {
    position:relative;
    width: 1280px;
    height: 741px;
    background: transparent url('AdobeStock_199226712.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.main-visual-ttl {
    position: relative;
    top: 246px;
    /*margin:0 578px 0 0 ;*/
    background: #FFFFFF ; /*0% 0% no-repeat padding-box */
    opacity: 0.8;
    width: 702px;
    height: 136px;
    margin:0;
    
    
}


.main-visual-ttl a{
    position: relative;
    display: inline-block;
    letter-spacing: 3px;
    color: #918F89;
    opacity: 1;
    font-size: 60px;
    top:31px;
    left: 88px;
    
}



/*暮らしを提案する*/
.intro-section-img {
    margin-top:142px;
    width: 544px;
    height: 500px;
}
/*
.test {
    padding:142px;
} */

.intro-section-header {
    padding-top: 142px;
    padding-left: 88px;
    display: flex;
    
}

.intro-section-header h3 {
    width: 474px;
    height: 29px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    font-size: 25px;
}

.intro-section-txt {
    padding-top: 201px;
    padding-left:70px;
}

.description {
    width: 474px;
    height: 138px;
    letter-spacing: 0.36px;
    color: #3B3B3B;
    opacity: 1;
    padding-top: 40px;
    padding-bottom: 92px;
    font-size: 12px;
}

/*豊富なスタイル*/
.style-section {
    padding-top: 210px
}

.style-section h4 {
    width: 194px;
    height: 29px;
    padding:0 543px 40px 543px ;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    margin: 0 ;
}

.style-img {
    width: 964px;
    height: 503px;
    margin: 0 158px;
    margin-bottom: 30px;
}



/*ニュース*/

.news-section {
    margin-top: 210px;
    
}

.news-section h6 {
    width: 79px;
    height: 29px;
    text-align: left;
    font-size:25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    padding:0 605px;
    margin:0px;
    padding-bottom: 50px;
}

.news-section p {
    width: 112px;
    height: 22px;
    text-align: left;
    letter-spacing: 1.05px;
    color: #3B3B3B;
    opacity: 1;
    font-size: 21px;
    padding: 50px 578px 0 580px ;
    margin: 0 ;
}

.news-img {
    
    display: flex;
    justify-content: space-between;
    margin:0 89px;
    width: 1102px ;
    
}

.news-img img {
    width: 334px;
    height: 387px;
}
  

/*お問い合わせフォーム*/
.contact-section h6 {
    width: 131px;
    height: 29px;
    text-align: left;
    font-size:  25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    opacity: 1;
    padding: 221px 574.5px 60px 574.5px;
    margin:0;
    
}

.contact-section form {
    padding-top: 60px;
    
}

.contact-form input {
    display: block;
    justify-content: center;
}



.name {
    width: 463px;
    height: 35px;
    border-width: 0.5px;
    
    border-radius:11px;
    opacity: 0.6;
    margin:0px auto 30px ;
    border:0.5px solid #707070;
    
    
}

.mail {
    width: 463px;
    height: 35px;
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin: 0 auto;
    
}

.contact {
    width: 463px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
}

.contact-form textarea {
    display: block;
    margin:30px auto 60px;
    
}

.submit-btn {
    display: block;
    margin: 0 auto 221px ;

    width: 111px;
    height: 35px;
    background: #707070;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    border-radius: 11px ;
    padding: 8px 36px 7px 34px;
    
}

/*フッター*/

.page-footer {
    width: 1280px;
    height: 284px;
    background: #918F89 0% 0% no-repeat padding-box;
    opacity: 1;
}


.footer-logo {
    float: left;
    width: 77px;
    height: 60px;
    text-align: center;
    font: SemiBold 22px/21px Noto Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 22px;
    margin: 116px 422px 59px 227px ;
    
}

.footer-nav {
    
}

.footer-nav li {
    float: left;    
}

.page-footer p {
    clear: both;
    display:block;
    width: 84px;
    height: 14px;
    text-align: center;
    font: Regular 10px/16px Noto Sans;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    padding: 0 35px;
    font-size: 10px;
}

.footer-about {
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font: Regular 18px/24px Noto Sans;
    width: 51px;
    height: 24px;
    margin: 136px 99px 0 ;
    font-size: 18px;
    
    
}

.footer-news {
    width: 46px;
    height: 24px;
    text-align: left;
    font: Regular 18px/24px Noto Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
    margin:133px 100px 0 0;
}


.footer-qa {
    width: 39px;
    height: 24px;
    text-align: left;
    font: Regular 18px/24px Noto Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
    margin: 133px 24px 0 0 ;
}