* {;
    /*margin:0px;
    padding:0px*/

}

li {
    list-style:none;
}

body {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 1661px;
    background-color: #FCFCFC  ;/*0% 0% no-repeat padding-box;*/
    opacity: 1;
    margin:0;
    
    }


.header-logo {
    width: 62px;
    height: 35px;
    margin:15px 705px 10px 88px;
    text-align: center;
    letter-spacing: 0;
    color: #918F89;
    opacity: 1;
    /*float:left;*/
    display: flex;

    }

.page-header {

    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;

}



/*
.header-right {
    width: 335px;
    height: 35px;
    float: left:
}*/


.header-nav ul {
    /*display:inline;*/
    
}　


.header-nav ul li {
    /*display:inline;*/
    
    
}

.header-nav {
    width: 336px;
    height: 35px;
    /*margin-left: auto;*/
    margin: 25px 0 0 0 ;
    
    

}
.nav-about {
    display: inline-block;
    width: 45px;
    height: 22px;
    text-align: left;
    letter-spacing: 0;
    color: #272727;
    opacity: 1;
    float: left;
    margin: 3px 105px 10px 0;

    
}
.a-about {
    width: 45px;
    height: 22px;
    font-size: 16px;
    
}

.page-header a {
    color: #272727;
    oapcity:0.5;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    position:relative;
    display: inline-block;
    
}




/*
.nav-about {
    display: inline-block;
    width: 43px;
    height:23px;
    margin: 3px 292px 10px 0;
    text-align: left;
    font: ExtraLight 16px/22px Noto Sans;
    letter-spacing: 0;
    float: left;
    opacity: 1;
    }*/


.nav-news {
    width:38px;
    height: 22px;
    display: inline-block;
    float:left;

    /*margin: 0 111px 13px 0 */
    
    
    }

.nav-qa {
    display: inline-block;
    float:left;
    margin: 0 0 13px 111px;
}

/*ニュースビジュアル部分*/

.news-visual {
    position: relative;
    background: transparent url('AdobeStock_295587079.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    opacity: 1;  
    width: 1280px;
    height: 415px;
}

.news-visual-ttl {
    
    position: relative;
    width: 96px;
    height: 29px;
    letter-spacing: 3px;
    color: #918F89;
    opacity: 1;
    top: 179px;
    right: 956px;
    bottom: 207px;
    left: 227px;
    margin: 0 ;
    font-family: 'Noto Sans', sans-serif;

    
}


/*最新情報*/
.news-section {
    margin-top: 86px;
    margin-bottom: 320px;
    
}

.news-section h6 {
    width: 96px;
    height: 29px;
    text-align: left;
    font: 21px/51px Noto Sans;
    letter-spacing: 2.1px;
    color: #3B3B3B;
    opacity: 1;
    margin: 0 auto 80px;
    
}



.news-img {
    
    display: flex;
    justify-content: space-between;
    margin:0 89px;
    width: 1102px ;
    
}

.news-img img {
    width: 334px;
    height: 387px;
}


  


/*フッター*/

.page-footer {
    width: 1280px;
    height: 284px;
    background: #918F89 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Noto Sans', sans-serif;
}


.footer-logo {
    float: left;
    width: 77px;
    height: 60px;
    text-align: center;
    font: SemiBold 22px/21px Noto Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 22px;
    margin: 116px 422px 59px 227px ;
    
}

.footer-nav {
    
}

.footer-nav li {
    float: left;    
}

.page-footer p {
    clear: both;
    display:block;
    width: 84px;
    height: 14px;
    text-align: center;
    font: Regular 10px/16px Noto Sans;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    padding: 0 35px;
    font-size: 10px;
}

.footer-about {
    letter-spacing: 0;
    width: 51px;
    height: 24px;
    margin: 136px 99px 0 ;
    font-size: 18px;
    
    
}

.footer-news {
    width: 46px;
    height: 24px;
    text-align: left;
    margin:133px 100px 0 0;
}


.footer-qa {
    width: 39px;
    height: 24px;
    text-align: left;
    margin: 133px 24px 0 0 ;
}

.page-footer a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: 'Noto Sans',sans-serif;
    font-weight: 400;
    opacity: 1;
    font-size: 18px;
}