.container {
    top: 355px;
    left: 88px;
    width: 519px;
    height: 82px;
    text-align: left;
    font: Thin 60px/82px Noto Sans;
    letter-spacing: 3px;
    color: #918F89;
    opacity: 1;
    }