
li {
    list-style:none;
    float:left;
}

body {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 4194px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    opacity: 1;
    }
.top-wrapper {
    top: 60px;
    left: 0px;
    width: 1280px;
    height: 741px;
    background: transparent url('AdobeStock_189860956@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
.header-left {
    pading:15px 88px;
    width: 62px;
    height: 35px;
    text-align: center;
    font: SemiBold 16px/16px Gill Sans;
    letter-spacing: 0;
    color: #918F89;
    opacity: 1;
    float:left;
    }
.header-right {
    margin :25px 90px 0 855px ;
    width: 335px;
    height: 35px;
    opacity: 1;

    }

.li-about {
    margin: 28px 0 0 855px;
    left: 855px;
    width: 43px;
    height: 22px;
    text-align: left;
    font: ExtraLight 16px/22px Noto Sans;
    letter-spacing: 0;
    color: #272727;
    opacity: 1;
    }
.li-news {
margin : 25px 0 0 1005px;
width: 38px;
height: 22px;
text-align: left;
font: ExtraLight 16px/22px Noto Sans;
letter-spacing: 0;
color: #272727;
opacity: 0.5;
}
.li-qa {
margin: 25px 90px 0 1157px;
left: 1157px;
width: 33px;
height: 22px;
text-align: left;
font: ExtraLight 16px/22px Noto Sans;
letter-spacing: 0;
color: #272727;
opacity: 0.5;
}
.container {
    top: 324px;
    left: 0px;
    width: 1280px;
    height: 60px;
    background: #FFFFFF;
    opacity: 0.8;
    }
.propose {
    top: 355px;
    left: 88px;
    width: 519px;
    height: 82px;
    text-align: left;
    font: Thin 60px/82px Noto Sans;
    letter-spacing: 3px;
    color: #918F89;
    opacity: 1;
    }
    .abouttop {
    top: 1213px;
    left: 702px;
    width: 474px;
    height: 138px;
    text-align: left;
    font: L 12px/30px DNP ShueiGoKinStd;
    letter-spacing: 0.36px;
    color: #3B3B3B;
    opacity: 1;
    }
